body {
    font-family: 'Arial', sans-serif;
    background-color: #FDF6EC;
    color: #333;
}

h2, h5 {
    font-weight: bold;
    color: #333;
}

p {
    color: #666;
}

.navbar-brand {
    font-weight: bold;
    color: #E2AA87;
}

.navbar-nav .nav-link {
    font-weight: bold;
    color: #E2AA87;
    transition: color 0.3s ease, transform 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #333;
    transform: translateY(-2px);
}

.navbar-nav .nav-link.active {
    color: #333;
}
main {
    padding: 20px;
}


@media (max-width: 768px) {
    #cardContainer {
        grid-template-columns: 1fr; 
    }
}



footer {
    background-color: #333;
    color: #FFF;
    padding: 40px 0;
    text-align: center;
}

footer h5 {
    color: #FFF;
    margin-bottom: 15px;
}

footer a {
    color: #FFF;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #E2AA87;
}

footer .social-links a {
    font-size: 1.5rem;
    margin-right: 15px;
    color: #FFF;
}

footer .social-links a:hover {
    color: #E2AA87;
}

footer .list-unstyled {
    list-style: none;
    padding-left: 0;
}

footer .list-unstyled li {
    margin-bottom: 10px;
}

footer .list-unstyled li a {
    color: #FFF;
    transition: color 0.3s ease;
}

footer .list-unstyled li a:hover {
    color: #E2AA87;
}
